In [2]:
import pandas as pd
import numpy as np

## American Films Data From 2000 - 2023

--------------------------------------------------------------------------------------------

### Data of 2000's Movies

In [3]:
li2000 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2000"

In [4]:
df0 = pd.read_html(li2000, header=0)[2]
df0 = df0.drop("Notes",axis=1)

### Data of 2001's Movies

In [5]:
li2001 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2001"

In [6]:
df1 = pd.read_html(li2001, header=0)[3]
df1 = df1.drop("Notes",axis=1)
df1.rename(columns= {'Cast(Subject of documentary)':'Cast'}, inplace = True)

### Data of 2002's Movies

In [7]:
li2002 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2002"

In [8]:
df2 = pd.read_html(li2002, header=0)[3]
df2 = df2.drop("Notes",axis=1)
df2.rename(columns= {'Cast (Subject of documentary)':'Cast'}, inplace = True)

### Data of 2003's Movies

In [9]:
li2003 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2003"

In [10]:
df31 = pd.read_html(li2003, header=0)[5]
df32 = pd.read_html(li2003, header=0)[6]
df33 = pd.read_html(li2003, header=0)[7]
df34 = pd.read_html(li2003, header=0)[8]
df3 = pd.concat([df31,df32,df33,df34], ignore_index=True)
df3 = df3.drop(["Notes","Medium","Opening","Opening.1","Studio"],axis=1)

In [11]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [12]:
df3['Director'] = df3['Cast and crew'].map(lambda x: get_director(str(x)))
df3.rename(columns= {'Cast and crew':'Cast'}, inplace = True)

### Data of 2004's Movies

In [13]:
li2004 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2004"

In [14]:
df41 = pd.read_html(li2004, header=0)[2]
df42 = pd.read_html(li2004, header=0)[3]
df43 = pd.read_html(li2004, header=0)[4]
df44 = pd.read_html(li2004, header=0)[5]
df4 = pd.concat([df41,df42,df43,df44], ignore_index=True)
df4 = df4.drop(["Production company","Ref.","Opening","Opening.1"],axis=1)

In [15]:
df4['Director'] = df4['Cast and crew'].map(lambda x: get_director(str(x)))
df4.rename(columns= {'Cast and crew':'Cast'}, inplace = True)

### Data of 2005's Movies

In [16]:
li2005 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2005"

In [17]:
df51 = pd.read_html(li2005, header=0)[2]
df52 = pd.read_html(li2005, header=0)[3]
df53 = pd.read_html(li2005, header=0)[4]
df54 = pd.read_html(li2005, header=0)[5]
df5 = pd.concat([df51,df52,df53,df54], ignore_index=True)
df5 = df5.drop(["Production company","Ref.","Opening","Opening.1"],axis=1)

In [18]:
df5['Director'] = df5['Cast and crew'].map(lambda x: get_director(str(x)))
df5.rename(columns= {'Cast and crew':'Cast'}, inplace = True)

### Data of 2006's Movies

In [19]:
li2006 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2006"

In [20]:
df61 = pd.read_html(li2005, header=0)[2]
df62 = pd.read_html(li2005, header=0)[3]
df63 = pd.read_html(li2005, header=0)[4]
df64 = pd.read_html(li2005, header=0)[5]
df6 = pd.concat([df51,df52,df53,df54], ignore_index=True)
df6 = df6.drop(["Production company","Opening","Opening.1","Ref."],axis=1)

In [21]:
df6['Director'] = df6['Cast and crew'].map(lambda x: get_director(str(x)))
df6.rename(columns= {'Cast and crew':'Cast'}, inplace = True)

### Data of 2007's Movies

In [22]:
li2007 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2007"

In [23]:
df71 = pd.read_html(li2005, header=0)[2]
df72 = pd.read_html(li2005, header=0)[3]
df73 = pd.read_html(li2005, header=0)[4]
df74 = pd.read_html(li2005, header=0)[5]
df7 = pd.concat([df51,df52,df53,df54], ignore_index=True)
df7 = df7.drop(["Production company","Opening","Opening.1","Ref."],axis=1)

In [24]:
df7['Director'] = df7['Cast and crew'].map(lambda x: get_director(str(x)))
df7.rename(columns= {'Cast and crew':'Cast'}, inplace = True)

### Data of 2008's Movies

In [25]:
li2008 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2008"

In [26]:
df81 = pd.read_html(li2008, header=0)[2]
df82 = pd.read_html(li2008, header=0)[3]
df83 = pd.read_html(li2008, header=0)[4]
df84 = pd.read_html(li2008, header=0)[5]
df8 = pd.concat([df81,df82,df83,df84], ignore_index=True)
df8 = df8.drop(["Production company","Opening","Opening.1"],axis=1)

In [27]:
df8

,Title,Cast and crew
0,The Killing of John Lennon,Andrew Piddington (director/screenplay); Jonas...
1,One Missed Call,Eric Valette (director); Andrew Klavan (screen...
2,A Bloody Aria,Won Shin-yun (director/screenplay); Han Suk-ky...
3,The Business of Being Born,Abby Epstein (director)
4,First Sunday,David E. Talbert (director/screenplay); Ice Cu...
...,...,...
276,The Spirit,Frank Miller (director/screenplay); Gabriel Ma...
277,Valkyrie,Bryan Singer (director); Christopher McQuarrie...
278,Waltz with Bashir,"Ari Folman (director/screenplay); Ari Folman, ..."
279,Revolutionary Road,Sam Mendes (director); Justin Haythe (screenpl...
280,Defiance,Edward Zwick (director/screenplay); Clayton Fr...

### Data of 2009's Movies

In [28]:
li2009 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2009"

In [29]:
df91 = pd.read_html(li2009, header=0)[2]
df92 = pd.read_html(li2009, header=0)[3]
df93 = pd.read_html(li2009, header=0)[4]
df94 = pd.read_html(li2009, header=0)[5]
df9 = pd.concat([df91,df92,df93,df94], ignore_index=True)
df9 = df9.drop(["Opening","Opening.1","Production company"],axis=1)

### Data of 20010's Movies

In [30]:
li2010 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2010"

In [31]:
df101 = pd.read_html(li2010, header=0)[2]
df102 = pd.read_html(li2010, header=0)[3]
df103 = pd.read_html(li2010, header=0)[4]
df104 = pd.read_html(li2010, header=0)[5]
df10 = pd.concat([df101,df102,df103,df104], ignore_index=True)
df10 = df10.drop(["Opening","Opening.1","Production Company"],axis=1)

### Data of 2011's Movies

In [32]:
li2011 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2011"

In [33]:
df111 = pd.read_html(li2011, header=0)[2]
df112 = pd.read_html(li2011, header=0)[3]
df113 = pd.read_html(li2011, header=0)[4]
df114 = pd.read_html(li2011, header=0)[5]
df11 = pd.concat([df111,df112,df113,df114], ignore_index=True)
df11 = df11.drop(["Opening","Opening.1","Production company",".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.","Ref."],axis=1)

### Data of 2012's Movies

In [34]:
li2012 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2012"

In [35]:
df121 = pd.read_html(li2012, header=0)[2]
df122 = pd.read_html(li2012, header=0)[3]
df123 = pd.read_html(li2012, header=0)[4]
df124 = pd.read_html(li2012, header=0)[5]
df12 = pd.concat([df121,df122,df123,df124], ignore_index=True)
df12 = df12.drop(["Opening","Opening.1","Production Company",".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.","Ref."],axis=1)

### Data of 2013's Movies

In [36]:
li2013 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2013"

In [37]:
df131 = pd.read_html(li2013, header=0)[2]
df132 = pd.read_html(li2013, header=0)[3]
df133 = pd.read_html(li2013, header=0)[4]
df134 = pd.read_html(li2013, header=0)[5]
df13 = pd.concat([df131,df132,df133,df134], ignore_index=True)
df13 = df13.drop(["Opening","Opening.1","Production company",".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.","Ref."],axis=1)

### Data of 2014's Movies

In [38]:
li2014 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2014"

In [39]:
df141 = pd.read_html(li2014, header=0)[2]
df142 = pd.read_html(li2014, header=0)[3]
df143 = pd.read_html(li2014, header=0)[4]
df144 = pd.read_html(li2014, header=0)[5]
df14 = pd.concat([df141,df142,df143,df144], ignore_index=True)
df14 = df14.drop(["Opening","Opening.1","Production company",".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.","Ref."],axis=1)

### Data of 2015's Movies

In [40]:
li2015 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2015"

In [41]:
df151 = pd.read_html(li2015, header=0)[2]
df152 = pd.read_html(li2015, header=0)[3]
df153 = pd.read_html(li2015, header=0)[4]
df154 = pd.read_html(li2015, header=0)[5]
df15 = pd.concat([df151,df152,df153,df154], ignore_index=True)
df15 = df15.drop(["Opening","Opening.1","Production company",".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.","Ref."],axis=1)

### Data of 2016's Movies

In [42]:
li2016 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2016"

In [43]:
df161 = pd.read_html(li2016, header=0)[2]
df162 = pd.read_html(li2016, header=0)[3]
df163 = pd.read_html(li2016, header=0)[4]
df164 = pd.read_html(li2016, header=0)[5]
df16 = pd.concat([df161,df162,df163,df164], ignore_index=True)
df16 = df16.drop(["Opening","Opening.1","Production Company","Production company",".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.","Ref."],axis=1)

### Data of 2017's Movies

In [44]:
li2017 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2017"

In [45]:
df171 = pd.read_html(li2017, header=0)[2]
df172 = pd.read_html(li2017, header=0)[3]
df173 = pd.read_html(li2017, header=0)[4]
df174 = pd.read_html(li2017, header=0)[5]
df17 = pd.concat([df171,df172,df173,df174], ignore_index=True)
df17 = df17.drop(["Opening","Opening.1","Production company",".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.","Ref."],axis=1)

### Data of 2018's Movies

In [46]:
li2018 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"

In [47]:
df181 = pd.read_html(li2018, header=0)[2]
df182 = pd.read_html(li2018, header=0)[3]
df183 = pd.read_html(li2018, header=0)[4]
df184 = pd.read_html(li2018, header=0)[5]
df18 = pd.concat([df181,df182,df183,df184], ignore_index=True)
df18 = df18.drop(["Opening","Opening.1","Production company",".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.","Ref."],axis=1)

### Data of 2019's Movies

In [48]:
li2019 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"

In [49]:
df191 = pd.read_html(li2019, header=0)[2]
df192 = pd.read_html(li2019, header=0)[3]
df193 = pd.read_html(li2019, header=0)[4]
df194 = pd.read_html(li2019, header=0)[5]
df19 = pd.concat([df191,df192,df193,df194], ignore_index=True)
df19 = df19.drop(["Opening","Opening.1","Production company","Ref."],axis=1)

### Data of 2020's Movies

In [50]:
li2020 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"

In [51]:
df201 = pd.read_html(li2020, header=0)[2]
df202 = pd.read_html(li2020, header=0)[3]
df203 = pd.read_html(li2020, header=0)[4]
df204 = pd.read_html(li2020, header=0)[5]
df20 = pd.concat([df201,df202,df203,df204], ignore_index=True)
df20 = df20.drop(["Opening","Opening.1","Production company",".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.","Ref."],axis=1)

### Data of 2021's Movies

In [52]:
li2021 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"

In [53]:
df211 = pd.read_html(li2021, header=0)[2]
df212 = pd.read_html(li2021, header=0)[3]
df213 = pd.read_html(li2021, header=0)[4]
df214 = pd.read_html(li2021, header=0)[5]
df21 = pd.concat([df211,df212,df213,df214], ignore_index=True)
df21 = df21.drop(["Opening","Opening.1","Production company",".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.","Ref."],axis=1)

### Data of 2022's Movies

In [54]:
li2022 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2022"

In [55]:
df221 = pd.read_html(li2022, header=0)[3]
df222 = pd.read_html(li2022, header=0)[4]
df223 = pd.read_html(li2022, header=0)[5]
df224 = pd.read_html(li2022, header=0)[6]
df22 = pd.concat([df221,df222,df223,df224], ignore_index=True)
df22 = df22.drop(["Opening","Opening.1","Production company",".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.","Ref."],axis=1)

### Data of 2023's Movies

In [56]:
li2023 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2023"

In [57]:
df231 = pd.read_html(li2023, header=0)[3]
df232 = pd.read_html(li2023, header=0)[4]
df233 = pd.read_html(li2023, header=0)[5]
df234 = pd.read_html(li2023, header=0)[6]
df23 = pd.concat([df231,df232,df233,df234], ignore_index=True)
df23 = df23.drop(["Opening","Opening.1","Production company","Ref."],axis=1)

In [58]:
data1 = pd.concat([df0,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17],ignore_index=True)
data2 = pd.concat([df18,df19,df20,df21,df22,df23],ignore_index=True)

In [59]:
data2['Director'] = data2['Cast and crew'].map(lambda x: get_director(str(x)))
data2.rename(columns= {'Cast and crew':'Cast'}, inplace = True)

In [60]:
data = pd.concat([data1,data2],ignore_index=True)

In [61]:
data.isnull().sum()

Title              37
Director         2696
Cast             2725
Genre            4407
Cast and crew    3437
dtype: int64

In [62]:
# Drop null title 
null_data = data[data["Title"].isnull()]
data = data.drop(null_data.index)

In [63]:
data.to_csv("Hollywood.csv",index=False)

----------------------------------------------------------------------------------------------------------------

In [118]:
import pandas as pd
data = pd.read_csv("Hollywood.csv")

In [119]:
data.shape

(6084, 5)

In [141]:
# Importing essential tools for data extraction
import pandas as pd
from tmdbv3api import TMDb, Movie
import json
import requests
tmdb = TMDb()
tmdb_movie = Movie()

# set up TMDb API
tmdb.api_key = 'db47f4d8f92f5ca02c7840f594a293ad'

# define get_genre function
def get_genre(movie_id):
    response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
    data_json = response.json()
    if data_json['genres']:
        genres = [genre['name'] for genre in data_json['genres']]
        return ', '.join(genres)
    else:
        return None
    
def get_movie_info(title):
    response = search.movie(query=title)
    movie_id = response['results'][0]['id']
    movie = tmdb.Movies(movie_id)
    info = movie.info()
    credits = movie.credits()
    cast_list = []
    for cast in credits['cast']:
        cast_list.append(cast['name'])
    director = ""
    for crew in credits['crew']:
        if crew['job'] == 'Director':
            director = crew['name']
            break
    return {'title': info['title'], 'cast': cast_list, 'director': director}

def get_movie_data(title):
    search = tmdb_movie.search(title)
    if search:
        rec = search[0]
        movie_id = rec['id']
        
        videos = tmdb_movie.videos(movie_id)
        trailer_key = None
        if videos:
            for video in videos:
                if video.type == 'Trailer':
                    trailer_key = video.key
                    break
        
        rec = tmdb_movie.details(rec['id'])
        credits = tmdb_movie.credits(rec['id'])
        cast_list = []
        for cast in credits['cast']:
            cast_list.append(cast['name'])
        director = ""
        for crew in credits['crew']:
            if crew['job'] == 'Director':
                director = crew['name']
                break
        
        data = {'Title': rec['title'],'Id': rec['id'],'Trailer Link': f'https://www.youtube.com/watch?v={trailer_key}' if trailer_key else None,
                'Director': director,'Cast': cast_list,'genre_ids': rec['genre_ids'] if 'genre_ids' in rec else None,'Genre': get_genre(rec['id']),
                'Budget': rec['budget'] if 'budget' in rec else None,'Revenue': rec['revenue'] if 'revenue' in rec else None,'Overview': rec['overview'],'Homepage': rec['homepage'],
                'Year': rec['release_date'][:4],'Runtime': rec['runtime'],'Popularity': rec['popularity'],'Adult': rec['adult'],'Release_Date': rec['release_date'],'Original_Title': rec['original_title'],
                'Original_Language': rec['original_language'],'Tagline': rec['tagline'],'Vote_Average': rec['vote_average'],'Vote_Count': rec['vote_count']}
        
        
        return pd.DataFrame.from_dict([data])
    else:
        return None


# create list of movie titles
Titles = []
movie_names = data['Title'].map(lambda x: Titles.append(x))
# Storing movies data by dividing in some parts
Titles = Titles[3000:4000]


# retrieve data for each movie and concatenate into a single DataFrame
data_frames = [get_movie_data(title) for title in Titles]
dfh4 = pd.concat(data_frames, ignore_index=True)

In [145]:
dfh4.to_csv("dfh4.csv",index=False)

In [143]:
# dfh1, dfh2, dfh3

In [144]:
dfh4

,Title,Id,Trailer Link,Director,Cast,genre_ids,Genre,Budget,Revenue,Overview,...,Year,Runtime,Popularity,Adult,Release_Date,Original_Title,Original_Language,Tagline,Vote_Average,Vote_Count
0,The Secret World of Arrietty,51739,https://www.youtube.com/watch?v=VlMe7PavaRQ,Hiromasa Yonebayashi,"[Mirai Shida, Ryunosuke Kamiki, Tomokazu Miura...",None,"Fantasy, Animation, Family",23000000,149480483,14-year-old Arrietty and the rest of the Clock...,...,2010,94,34.596,False,2010-07-16,借りぐらしのアリエッティ,ja,Do not be seen by humans. That's been the law ...,7.637,2441
1,Ghost Rider: Spirit of Vengeance,71676,https://www.youtube.com/watch?v=ibZPd9MX0zg,Brian Taylor,"[Nicolas Cage, Violante Placido, Ciarán Hinds,...",None,"Action, Fantasy, Thriller",57000000,132563930,When the devil resurfaces with aims to take ov...,...,2011,96,55.316,False,2011-12-10,Ghost Rider: Spirit of Vengeance,en,He rides again.,5.001,3421
2,This Means War,59962,https://www.youtube.com/watch?v=oleuD8479uM,McG,"[Reese Witherspoon, Chris Pine, Tom Hardy, Lau...",None,"Action, Comedy, Romance",65000000,156974557,Two top CIA operatives wage an epic battle aga...,...,2012,98,14.499,False,2012-02-14,This Means War,en,It's SPY Against SPY,6.148,3088
3,Act of Valor,75674,https://www.youtube.com/watch?v=35b_UqGYZgw,Mike McCoy,"[Roselyn Sánchez, Emilio Rivera, Gonzalo Menen...",None,"Action, Thriller, War",12000000,82499399,When a covert mission to rescue a kidnapped CI...,...,2012,110,18.263,False,2012-02-24,Act of Valor,en,The only easy day was yesterday.,6.467,1006
4,Gone,79548,https://www.youtube.com/watch?v=giRMhrOdVzg,Heitor Dhalia,"[Amanda Seyfried, Daniel Sunjata, Wes Bentley,...",None,Thriller,0,18100189,Jill Conway is trying to rebuild her life afte...,...,2012,94,13.079,False,2012-02-23,Gone,en,No one believes her. Nothing will stop her.,6.186,1032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,Race,323677,https://www.youtube.com/watch?v=UZTexap1KtU,Stephen Hopkins,"[Stephan James, Jason Sudeikis, Carice van Hou...",None,"Drama, History",5000000,24804129,"Based on the story of Jesse Owens, the athlete...",...,2016,134,18.111,False,2016-02-19,Race,en,The incredible true story of gold medal champi...,7.258,1413
989,"Crouching Tiger, Hidden Dragon: Sword of Destiny",263341,https://www.youtube.com/watch?v=WdhvxJZDqzU,Yuen Woo-ping,"[Michelle Yeoh, Donnie Yen, Jason Scott Lee, N...",None,"Action, Adventure, Drama",20000000,0,"A story of lost love, young love, a legendary ...",...,2016,103,24.733,False,2016-02-18,"Crouching Tiger, Hidden Dragon: Sword of Destiny",en,The past returns with a vengeance.,6.117,569
990,Gods of Egypt,205584,https://www.youtube.com/watch?v=tuVg_6UaQsU,Alex Proyas,"[Nikolaj Coster-Waldau, Brenton Thwaites, Gera...",None,"Action, Adventure, Fantasy",140000000,150680864,A common thief joins a mythical god on a quest...,...,2016,127,51.936,False,2016-02-25,Gods of Egypt,en,The battle for eternity begins,5.618,3715
991,Triple 9,146198,https://www.youtube.com/watch?v=vEa7iTdH_Z4,John Hillcoat,"[Casey Affleck, Chiwetel Ejiofor, Anthony Mack...",None,"Action, Crime, Adventure, Thriller",20000000,12639297,A gang of criminals and corrupt cops plan the ...,...,2016,115,14.656,False,2016-02-19,Triple 9,en,The Code on the Street is Never Black & White,5.949,1915
992,Eddie the Eagle,319888,https://www.youtube.com/watch?v=hyzQjVUmIxk,Dexter Fletcher,"[Taron Egerton, Hugh Jackman, Christopher Walk...",None,"Comedy, Drama, History, Adventure",23000000,46152411,The feel-good story of Michael 'Eddie' Edwards...,...,2016,106,12.494,False,2016-02-25,Eddie the Eagle,en,"Win or lose, always aim high.",7.181,1927

In [153]:
Hollywood_movies = pd.concat([dfh1,dfh2,dfh3,dfh4,dfh5,dfh6],ignore_index=True)

In [152]:
Hollywood_movies.to_csv("Hollywood_Movies.csv",index=False)

In [151]:
Hollywood_movies

,Title,Id,Trailer Link,Director,Cast,genre_ids,Genre,Budget,Revenue,Overview,...,Year,Runtime,Popularity,Adult,Release_Date,Original_Title,Original_Language,Tagline,Vote_Average,Vote_Count
0,102 Dalmatians,10481,https://www.youtube.com/watch?v=7wOwplmoZlg,Kevin Lima,"[Glenn Close, Ioan Gruffudd, Alice Evans, Tim ...",None,"Family, Comedy",85000000,183611771,Get ready for a howling good time as an all ne...,...,2000,100,19.761,False,2000-11-21,102 Dalmatians,en,Meet Two Unlikely Heroes With A Bone To Pick.,5.500,1207
1,28 Days,10468,None,Betty Thomas,"[Sandra Bullock, Viggo Mortensen, Dominic West...",None,"Comedy, Drama",43000000,6219894,After getting into a car accident while drunk ...,...,2000,103,11.812,False,2000-04-06,28 Days,en,The Life of the Party... before she got a life.,6.142,854
2,3 Strikes,47816,https://www.youtube.com/watch?v=GDFqdXToYxE,DJ Pooh,"[Brian Hooks, N'Bushe Wright, Faizon Love, E-4...",None,"Action, Comedy, Romance",6000000,9000000,Brian Hooks plays a character who is just rele...,...,2000,82,5.014,False,2000-03-01,3 Strikes,en,"the few, the proud, the paroled.",5.670,47
3,The 6th Day,8452,https://www.youtube.com/watch?v=LABR3ikwfdc,Roger Spottiswoode,"[Arnold Schwarzenegger, Michael Rapaport, Tony...",None,"Science Fiction, Action, Mystery",82000000,96085477,A world of the very near future in which cattl...,...,2000,123,15.855,False,2000-11-17,The 6th Day,en,They picked the wrong man to clone.,5.950,1759
4,Across the Line,356301,https://www.youtube.com/watch?v=pwBs7Ji1CuI,Director X.,"[Stephan James, Sarah Jeffery, Shamier Anderso...",None,Drama,0,0,Out of the approximately 600 players in the Na...,...,2016,88,2.208,False,2016-04-08,Across the Line,en,,5.000,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962,Arkansas,560204,https://www.youtube.com/watch?v=2oDRSS67Ohw,Clark Duke,"[Liam Hemsworth, Clark Duke, Vince Vaughn, Joh...",None,"Crime, Thriller",0,0,Kyle and Swin live by the orders of an Arkansa...,...,2020,115,11.248,False,2020-05-05,Arkansas,en,Crime knows no borders.,5.720,241
5963,Valley Girl,19053,https://www.youtube.com/watch?v=GJU88bssElo,Martha Coolidge,"[Nicolas Cage, Deborah Foreman, Elizabeth Dail...",None,"Comedy, Romance",350000,17343596,"Julie, a girl from the valley, meets Randy, a ...",...,1983,99,11.128,False,1983-04-08,Valley Girl,en,She's cool. He's hot. She's from the Valley. H...,5.936,181
5964,Capone,429422,https://www.youtube.com/watch?v=LHYlKQSc7rA,Josh Trank,"[Tom Hardy, Linda Cardellini, Matt Dillon, Kyl...",None,"Crime, Drama",20600000,858281,"The 47-year old Al Capone, after 10 years in p...",...,2020,103,13.270,False,2020-06-26,Capone,en,We all pay for our crimes in the end.,5.015,302
5965,The Wrong Missy,582596,https://www.youtube.com/watch?v=2Cwaneq2w-4,Tyler Spindel,"[David Spade, Lauren Lapkus, Candace Smith, Sa...",None,"Comedy, Romance",0,0,A guy meets the woman of his dreams and invite...,...,2020,90,27.793,False,2020-05-13,The Wrong Missy,en,There’s no untexting her now.,6.161,1037
5966,Scoob!,385103,https://www.youtube.com/watch?v=GzlEnS7MmUo,Tony Cervone,"[Amanda Seyfried, Christina Hendricks, Frank W...",None,"Animation, Comedy, Family, Mystery",90000000,28588425,"In Scooby-Doo’s greatest adventure yet, see th...",...,2020,93,30.939,False,2020-07-08,Scoob!,en,Mystery loves company.,7.137,1520