In [1]:
import pandas as pd
import numpy as np

## Telugu Films Data From 2000 - 2023

--------------------------------------------------------------------------------------------

### Data of 2000's Movies

In [2]:
li2000 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2000"

In [3]:
df01 = pd.read_html(li2000, header=0)[2]
df02 = pd.read_html(li2000, header=0)[3]
df0 = pd.concat([df01,df02], ignore_index=True)
df0 = df0.drop(["Source","Opening","Opening.1"],axis=1)

### Data of 2001's Movies

In [4]:
li2001 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2001"

In [5]:
df11 = pd.read_html(li2001, header=0)[2]
df12 = pd.read_html(li2001, header=0)[3]
df1 = pd.concat([df11,df12], ignore_index=True)
df1 = df1.drop(["Notes","Opening","Opening.1"],axis=1)

### Data of 2002's Movies

In [6]:
li2002 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2002"

In [7]:
df21 = pd.read_html(li2002, header=0)[3]
df22 = pd.read_html(li2002, header=0)[4]
df2 = pd.concat([df21,df22], ignore_index=True)
df2 = df2.drop(["Sources","Opening","Opening.1"],axis=1)

### Data of 2003's Movies

In [8]:
li2003 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2003"

In [9]:
df31 = pd.read_html(li2003, header=0)[3]
df32 = pd.read_html(li2003, header=0)[4]
df3 = pd.concat([df31,df32], ignore_index=True)
df3 = df3.drop(["Notes","Opening","Opening.1"],axis=1)

### Data of 2004's Movies

In [10]:
li2004 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2004"

In [11]:
df41 = pd.read_html(li2004, header=0)[2]
df42 = pd.read_html(li2004, header=0)[3]
df4 = pd.concat([df41,df42], ignore_index=True)
df4 = df4.drop(["Sources","Opening","Opening.1"],axis=1)

### Data of 2005's Movies

In [12]:
li2005 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2005"

In [13]:
df51 = pd.read_html(li2005, header=0)[4]
df52 = pd.read_html(li2005, header=0)[5]
df5 = pd.concat([df51,df52], ignore_index=True)
df5 = df5.drop(["Sources","Opening","Opening.1"],axis=1)

### Data of 2006's Movies

In [14]:
li2006 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2006"

In [15]:
df61 = pd.read_html(li2005, header=0)[4]
df62 = pd.read_html(li2005, header=0)[5]
df6 = pd.concat([df51,df52], ignore_index=True)
df6 = df6.drop(["Sources","Opening","Opening.1"],axis=1)

### Data of 2007's Movies

In [16]:
li2007 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2007"

In [17]:
df71 = pd.read_html(li2005, header=0)[4]
df72 = pd.read_html(li2005, header=0)[5]
df7 = pd.concat([df51,df52], ignore_index=True)
df7 = df7.drop(["Sources","Opening","Opening.1"],axis=1)

### Data of 2008's Movies

In [18]:
li2008 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2008"

In [19]:
df8 = pd.read_html(li2008, header=0)[1]
df8 = df8.drop(["Notes","Opening","Opening.1"],axis=1)

### Data of 2009's Movies

In [20]:
li2009 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2009"

In [21]:
df9 = pd.read_html(li2009, header=0)[3]
df9 = df9.drop(["Opening","Opening.1","Notes"],axis=1)

### Data of 20010's Movies

In [22]:
li2010 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2010"

In [23]:
df101 = pd.read_html(li2010, header=0)[2]
df102 = pd.read_html(li2010, header=0)[3]
df10 = pd.concat([df101,df102], ignore_index=True)
df10 = df10.drop(["Opening","Opening.1","Notes","Ref","Producer"],axis=1)

### Data of 2011's Movies

In [24]:
li2011 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2011"

In [25]:
df111 = pd.read_html(li2011, header=0)[2]
df112 = pd.read_html(li2011, header=0)[3]
df11 = pd.concat([df111,df112], ignore_index=True)
df11 = df11.drop(["Opening","Opening.1","Notes","Sources"],axis=1)

### Data of 2012's Movies

In [26]:
li2012 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2012"

In [27]:
df121 = pd.read_html(li2012, header=0)[2]
df122 = pd.read_html(li2012, header=0)[3]
df12 = pd.concat([df121,df122], ignore_index=True)
df12 = df12.drop(["Opening","Opening.1","Notes","Sources"],axis=1)

### Data of 2013's Movies

In [28]:
li2013 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2013"

In [29]:
df131 = pd.read_html(li2013, header=0)[2]
df132 = pd.read_html(li2013, header=0)[3]
df13 = pd.concat([df131,df132], ignore_index=True)
df13 = df13.drop(["Opening","Opening.1","Produced by","Source"],axis=1)

### Data of 2014's Movies

In [30]:
li2014 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2014"

In [31]:
df141 = pd.read_html(li2014, header=0)[2]
df142 = pd.read_html(li2014, header=0)[3]
df14 = pd.concat([df141,df142], ignore_index=True)
df14 = df14.drop(["Opening","Opening.1","Producer","Ref"],axis=1)

### Data of 2015's Movies

In [32]:
li2015 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2015"

In [33]:
df151 = pd.read_html(li2015, header=0)[2]
df152 = pd.read_html(li2015, header=0)[3]
df15 = pd.concat([df151,df152], ignore_index=True)
df15 = df15.drop(["Unnamed: 0","Unnamed: 1","Production House","Ref"],axis=1)

### Data of 2016's Movies

In [34]:
li2016 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2016"

In [35]:
df161 = pd.read_html(li2016, header=0)[2]
df162 = pd.read_html(li2016, header=0)[3]
df16 = pd.concat([df161,df162], ignore_index=True)
df16 = df16.drop(["Unnamed: 0","Unnamed: 1","Production house","Ref"],axis=1)

### Data of 2017's Movies

In [36]:
li2017 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2017"

In [37]:
df171 = pd.read_html(li2017, header=0)[2]
df172 = pd.read_html(li2017, header=0)[3]
df17 = pd.concat([df171,df172], ignore_index=True)
df17 = df17.drop(["Opening","Opening.1","Production House","Ref"],axis=1)

### Data of 2018's Movies

In [38]:
li2018 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2018"

In [39]:
df181 = pd.read_html(li2018, header=0)[2]
df182 = pd.read_html(li2018, header=0)[3]
df18 = pd.concat([df181,df182], ignore_index=True)
df18 = df18.drop(["Opening","Opening.1","Production House","Ref"],axis=1)

### Data of 2019's Movies

In [40]:
li2019 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2019"

In [41]:
df191 = pd.read_html(li2019, header=0)[2]
df192 = pd.read_html(li2019, header=0)[3]
df19 = pd.concat([df191,df192], ignore_index=True)
df19 = df19.drop(["Opening","Opening.1","Production House","Ref"],axis=1)

### Data of 2020's Movies

In [42]:
li2020 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2020"

In [43]:
df201 = pd.read_html(li2020, header=0)[2]
df202 = pd.read_html(li2020, header=0)[3]
df203 = pd.read_html(li2020, header=0)[4]
df20 = pd.concat([df201,df202,df203], ignore_index=True)
df20 = df20.drop(["Production House","Opening","Opening.1","Ref."],axis=1)

### Data of 2021's Movies

In [44]:
li2021 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2021"

In [45]:
df211 = pd.read_html(li2021, header=0)[3]
df212 = pd.read_html(li2021, header=0)[4]
df213 = pd.read_html(li2021, header=0)[5]
df214 = pd.read_html(li2021, header=0)[6]
df21 = pd.concat([df211,df212,df213,df214], ignore_index=True)
df21 = df21.drop(["Production House","Opening","Opening.1","Ref."],axis=1)

### Data of 2022's Movies

In [46]:
li2022 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2022"

In [47]:
df221 = pd.read_html(li2022, header=0)[4]
df222 = pd.read_html(li2022, header=0)[5]
df223 = pd.read_html(li2022, header=0)[6]
df224 = pd.read_html(li2022, header=0)[7]
df22 = pd.concat([df221,df222,df223,df224], ignore_index=True)
df22 = df22.drop(["Production House","Opening","Opening.1","Ref.",".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref."],axis=1)

### Data of 2023's Movies

In [48]:
li2023 = "https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2023"

In [49]:
df231 = pd.read_html(li2023, header=0)[3]
df232 = pd.read_html(li2023, header=0)[4]
df233 = pd.read_html(li2023, header=0)[5]
df23 = pd.concat([df231,df232,df233], ignore_index=True)
df23 = df23.drop(["Opening","Opening.1","Production House","Ref.",".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref."],axis=1)

In [50]:
data = pd.concat(
    [df0,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23],
    ignore_index=True)

In [51]:
data = data.drop(["Producer","Starting","Starting.1","Production house","Production","Production company",".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref."],axis=1)

In [52]:
data

,Title,Cast,Genre,Director
0,Kodanda Ramudu,"J. D. Chakravarthi, Saptaparna Saha, Rambha, Laya",Drama,NaN
1,Annayya,"Chiranjeevi, Ravi Teja, Soundarya, Simran, Sha...",Drama / Action,NaN
2,Postman,"Mohan Babu, Soundarya, Raasi",Romance,NaN
3,Vamsoddharakudu,"Balakrishna Nandamuri, Sakshi Shivanand, Ramya...",Action,NaN
4,Kalisundam Raa,"Venkatesh, Simran",Drama,NaN
...,...,...,...,...
2306,Adipurush,PrabhasKriti SanonSaif Ali KhanSunny SinghDevd...,NaN,Om Raut
2307,Hari Hara Veera Mallu,Pawan KalyanNidhhi AgerwalArjun RampalNargis F...,NaN,Krish Jagarlamudi
2308,Bhola Shankar,ChiranjeeviTamannaahKeerthy SureshMurali Sharm...,NaN,Meher Ramesh
2309,Kushi,Vijay DeverakondaSamanthaMurali SharmaVennela ...,NaN,Shiva Nirvana
2310,Salaar,PrabhasPrithviraj SukumaranShruti HaasanJagapa...,NaN,Prashanth Neel

In [53]:
data.isnull().sum()

Title        19
Cast         28
Genre       629
Director    102
dtype: int64

In [54]:
# Drop null title 
null_data = data[data["Title"].isnull()]
data = data.drop(null_data.index)

In [55]:
data.to_csv("Tollywood.csv",index=False)

-------------------------------------------------------------------------------------------------------------

In [57]:
import pandas as pd
data = pd.read_csv("Tollywood.csv")

In [58]:
data.shape

(2292, 4)

In [86]:
# Importing essential tools for data extraction
import pandas as pd
from tmdbv3api import TMDb, Movie
import json
import requests
tmdb = TMDb()
tmdb_movie = Movie()

# set up TMDb API
tmdb.api_key = 'db47f4d8f92f5ca02c7840f594a293ad'

# define get_genre function
def get_genre(movie_id):
    response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
    data_json = response.json()
    if data_json['genres']:
        genres = [genre['name'] for genre in data_json['genres']]
        return ', '.join(genres)
    else:
        return None
    
def get_movie_info(title):
    response = search.movie(query=title)
    movie_id = response['results'][0]['id']
    movie = tmdb.Movies(movie_id)
    info = movie.info()
    credits = movie.credits()
    cast_list = []
    for cast in credits['cast']:
        cast_list.append(cast['name'])
    director = ""
    for crew in credits['crew']:
        if crew['job'] == 'Director':
            director = crew['name']
            break
    return {'title': info['title'], 'cast': cast_list, 'director': director}

def get_movie_data(title):
    search = tmdb_movie.search(title)
    if search:
        rec = search[0]
        movie_id = rec['id']
        
        videos = tmdb_movie.videos(movie_id)
        trailer_key = None
        if videos:
            for video in videos:
                if video.type == 'Trailer':
                    trailer_key = video.key
                    break
        
        rec = tmdb_movie.details(rec['id'])
        credits = tmdb_movie.credits(rec['id'])
        cast_list = []
        for cast in credits['cast']:
            cast_list.append(cast['name'])
        director = ""
        for crew in credits['crew']:
            if crew['job'] == 'Director':
                director = crew['name']
                break
        
        data = {'Title': rec['title'],'Id': rec['id'],'Trailer Link': f'https://www.youtube.com/watch?v={trailer_key}' if trailer_key else None,
                'Director': director,'Cast': cast_list,'genre_ids': rec['genre_ids'] if 'genre_ids' in rec else None,'Genre': get_genre(rec['id']),
                'Budget': rec['budget'] if 'budget' in rec else None,'Revenue': rec['revenue'] if 'revenue' in rec else None,'Overview': rec['overview'],'Homepage': rec['homepage'],
                'Year': rec['release_date'][:4],'Runtime': rec['runtime'],'Popularity': rec['popularity'],'Adult': rec['adult'],'Release_Date': rec['release_date'],'Original_Title': rec['original_title'],
                'Original_Language': rec['original_language'],'Tagline': rec['tagline'],'Vote_Average': rec['vote_average'],'Vote_Count': rec['vote_count']}
        
        
        return pd.DataFrame.from_dict([data])
    else:
        return None


# create list of movie titles
Titles = []
movie_names = data['Title'].map(lambda x: Titles.append(x))
Titles = Titles[1000:2292]


# retrieve data for each movie and concatenate into a single DataFrame
data_frames = [get_movie_data(title) for title in Titles]
dft2 = pd.concat(data_frames, ignore_index=True)

In [87]:
dft2.to_csv("dft2.csv",index=False)
# dft1, dft2

In [88]:
Tollywood_movies = pd.concat([dft1,dft2],ignore_index=True)

In [91]:
Tollywood_movies.shape

(1759, 21)

In [89]:
Tollywood_movies.to_csv("Tollywood_Movies.csv",index=False)

In [92]:
# pd.read_csv("Tollywood_Movies.csv")